body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
}

.all {
  padding: 30px;
  background-color: rgb(69, 192, 188);
}

.selected {
  padding: 30px;
  background-color: palevioletred;
}

h2 {
  font-size: 2rem;
}
