
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
}

.all {
  padding: 30px;
  background-color: rgb(69, 192, 188);
}

.selected {
  padding: 30px;
  background-color: palevioletred;
}

h2 {
  font-size: 2rem;
}
